<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro-Arcade Zone | <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assets/img/favicon-32x32.png">
    <script defer src="/js/main.js"></script>
    <script>
        (function() {
            const temaGuardado = localStorage.getItem("temaArcade") || "dark"; 
            document.documentElement.setAttribute("data-theme", temaGuardado);
        })();
    </script>
</head>