<%- include("partials/head.ejs") %>
<body class="page-login">
<section class="form-login">
        <h2><%= about %></h2>
        <form id="loginForm" class="form-alta" action="/login" method="POST">
            <label for="emailUser">Email:</label>
            <input type="email" name="email" id="emailUser" placeholder="text@example.com" required>
            <label for="passwordUser">Password:</label>
            <input type="password" name="password" id="passwordUser" placeholder="password" required>
            <% if(typeof error !== "undefined") { %> 
                    <p class="mensaje mensaje-error" style="text-align: center; color: rgb(250, 4, 4);"><%= error %></p>
            <% } %>    
            <div>
                <input type="submit" value="Login">
            </div>  
        
        </form>
</section>
</body>
<%- include("partials/footer.ejs") %>